<% title 'Editing job' %>
<h3>Jobs</h3>
<h2><%= yield(:title) %></h2>

<% form_for(@job) do |f| %>
  <%= f.error_messages %><br class="clear" />

  <%= render :partial => "form", :object => f %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Destroy', @job, :confirm => 'Are you sure?', :method => :delete if current_user %>