<% title "Jobs" %>   
<div class="grid16 left list">
  <h2><%= yield(:title) %><%= raw "<small>" + link_to('New job', new_job_path)  + "</small>" if current_user %></h2>
  <table summary="Jobs list">
    <caption>Jobs list</caption> 
    <colgroup>
      <col class="job_title" />    
      <col class="job_company_name" /> 
      <col class="job_created" /> 
    </colgroup>
    <thead>
      <tr>
        <th class="job_title" scope="col"><strong>Name</strong></th> 
        <th class="job_company_name" scope="col"><strong>Company</strong></th>
        <th class="job_created" scope="col"><strong>Published at</strong></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>  
        <tr>
          <td class="job_title"><%= link_to job.title, job %>  </td>    
          <td class="job_company_name"><%= link_to job.company.name, company_path(job.company.id) if job.company.present? %></td>
          <td class="job_created"><%=h job.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>    
