<% title "Edit My Account" %>
<h2><%= yield(:title) %></h2>
 
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  
  <%= f.label :company_id %> <%= link_to 'New company', new_company_path %><br />
  <%= select("user", "company_id", @companies.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %><br />
  
  <%= f.submit "Update" %>
<% end %>
 
<br /><%= link_to "My Profile", account_path %>