<% title 'account' %>
<div class="account left grid16">
  <h2><%= yield(:title).capitalize %><%= "<small>" + link_to('Edit', edit_account_path) + "</small>" unless current_user != @user %></h2>
  <dl>
    <dt>Gravatar</dt>
    <dd><%= gravatar_for @user, :alt => @user.login %></dd>
    <dt>Login</dt>
    <dd><%=h @user.login %></dd>
    <dt>Email</dt>
    <dd><%=h @user.email %></dd>
    <dt>Registered at</dt>
    <dd><%=h @user.created_at %></dd>
    <dt>Login count</dt>
    <dd><%=h @user.login_count %></dd>
    <dt>Failed login count</dt>
    <dd><%=h @user.failed_login_count %></dd>
    <dt>Last request at</dt>
    <dd><%=h @user.last_request_at %></dd>
    <dt>Last login at</dt>
    <dd><%=h @user.last_login_at %></dd>
    <dt>Current login at</dt>
    <dd><%=h @user.current_login_at %></dd>
    <dt>Last login ip</dt>
    <dd><%=h @user.last_login_ip %></dd>
    <dt>Current login ip</dt>
    <dd><%=h @user.current_login_ip %></dd>
    <dt>User company</dt>
    <dd>
      <% if !@user.company.nil? %>
      <%= link_to @user.company.name, company_path(@user.company.id) %>
      <% else %>
      <%= link_to 'Add company', account_path %><br />
      <% end %>
    </dd>
  </dl>
</div>