<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :location %><br />
  <%= form.text_field :location %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description %>
  <p>Format description using <a href="http://daringfireball.net/projects/markdown/syntax" title="markdown">Markdown</a>.</p>
</p>
<p>
  <%= form.label :date %><br />
  <%= form.text_field :date, :id => 'datetime' %>
</p>
