<% title "Listing events" %>
<h2><%= yield(:title)%></h2>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event %>
      <%=h event.location %>
      <%=h event.date %>
    </li>
  <% end %>
</ul>

<%= link_to 'New event', new_event_path %>