<% title "Events" %>    
<div class="grid16 left list">
  <h2><%= yield(:title)%><%= "<small>" + link_to('New event', new_event_path)  + "</small>" if current_user %></h2>
  <table summary="Event lists">
    <caption>Event lists</caption> 
    <colgroup>
      <col class="event_title" />    
      <col class="event_location" /> 
      <col class="event_date" /> 
    </colgroup>
    <thead>
      <tr>
        <th class="event_title" scope="col"><strong>Event</strong></th> 
        <th class="event_location" scope="col"><strong>Location</strong></th>
        <th class="event_date" scope="col"><strong>Date</strong></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>  
        <tr>
          <td class="event_title"><%= link_to event.title, event %></td>    
          <td class="event_location"><%=h event.location %></td>
          <td class="event_date"><%=h event.date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  