<% title "New event" %>
<h2><%= yield(:title)%></h2>

<%= form_for(@event) do |f| %>
  <%= f.error_messages %><br class="clear" />
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>
