<% title @event.title + ' &ndash; ' + 'Event' %>
<div class="events">
  <h3>Events</h3>
  <h2><%= @event.title %><%= "<small>" + link_to('Edit', edit_event_path(@event)) + "</small>" %></h2>
  <%= location_map @event %>

  <p>
    <strong>Where:</strong>
    <%=h @event.location %>
  </p>

  <div class="markdown">
    <strong>What:</strong>
    <%= markdown @event.description %>
  </div>

  <p>
    <strong>When:</strong>
    <%=h @event.date.strftime("%Y/%m/%d - %H:%mh.") %>
  </p>
</div>