<% title @event.title + ' &ndash; ' + 'Event' %>
<%= location_map @event %>
<h2><%= yield(:title) %></h2>

<p>
  <strong>Location:</strong>
  <%=h @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdown @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%=h @event.date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>