<% title @event.title + ' &ndash; ' + 'Event' %>
<div class="left grid16 events">
  <h2>Events</h2>           
  <div class="left grid16 place">
    <div class="left grid7">
      <h3><%= @event.title %><%= raw "<small>" + link_to('Edit', edit_event_path(@event)) + "</small>" if current_user %></h3>
      <div class="markdown">
        <strong>Description:</strong>
        <%= markdown @event.description %>
      </div>
    </div>
    <div class="right grid8">
      <p>
        <strong>Place:</strong>
        <%=h @event.location %>
      </p>
      <p>
        <strong>Date:</strong>
        <%=h @event.date.strftime("%Y/%m/%d - %H:%mh.") %>
      </p>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.lat}%2C#{@event.lng}", size: "460x300" %>
    </div>
  </div>
</div>
