<% title 'Editing company' %>
<h2><%= yield(:title) %></h2>

<% form_for(@company) do |f| %>
  <%= f.error_messages %><br class="clear" />

  <%= render :partial => "form", :object => f %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Destroy', @company, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', companies_path %>