<% title (@company.name + ' &ndash; ' + 'Company').html_safe %>
<div class="grid16 left companies">  
  <h2>Company</h2>
  <h3><%= yield(:title) %><%= raw "<small>" + link_to('Edit', edit_company_path(@company)) + "</small>" if current_user %></h3>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=522x180&sensor=false&zoom=16&markers=#{@company.lat}%2C#{@company.lng}" %>
  <div class="info grid7 left">
    <p>
      <strong>Website:</strong>
      <%= link_to @company.website, @company.website %>
    </p>

    <p>
      <strong>Location:</strong>
      <%=h @company.location %>
    </p>
    <% unless @company.employees.blank? %>
      <strong>Employees:</strong>
      <ul>
        <% @company.employees.each do |e| %>
          <li><%= link_to e.login, profile_path(e.id) %></li>
        <% end  %>
      </ul>   
    <% end %>
    <% unless @company.jobs.blank? %>
      <strong>Jobs:</strong>
      <ul>
        <% @company.jobs.each do |j| %>
          <li><%= link_to j.title, job_path(j.id) %></li>
        <% end  %>
      </ul> 
    <% end %>
  </div>
  <div class="info right grid9">
    <p>
      <strong>Description:</strong>
      <%= markdown @company.description %>
    </p>
  </div>
</div>
